{
	"extends": ["wesbos"],

	"rules": {
		"prettier/prettier": [
			"error",
			{
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 80,
				"tabWidth": 2
			}
		],
		"no-var": "error",
		"no-console": "warn",
		"react/prop-types": "warn",
		"jsx-a11y/anchor-is-valid": "warn"
	}
}
