.section-demo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 90vh;
	width: 100%;

	background: var(--color-black1);
	color: var(--color-gray-light);
}

.section-demo .content {
	max-width: 400px;
}
.section-demo .title {
	text-align: center;
	letter-spacing: -2px;
	color: var(--color-pink);

	margin-bottom: 22px;
}
