.home-page {
	height: 100vh;
	height: 100vh;
	background-image: linear-gradient(to top, rgba(255, 82, 82, 0.1), rgba(234, 56, 77, 0.175)),
		url('../../assets/images/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home-page .header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}
.home-page .logo {
	width: 150px;
	height: 150px;
}
.home-page .heading {
	margin-top: 16px;
	color: var(--color-white);
}

.section-intro {
	height: 100vh;
	height: 100vh;
	background: var(--color-black1);
}
