.section-link {
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-black1);
	background-color: var(--color-white);
	border-radius: 50%;
	transform: translate(-50%);
	animation: arrow-jump 1.5s infinite ease-in;
}
.section-link:hover {
	cursor: pointer;
	animation-play-state: paused;
	box-shadow: 0 0px 10px 10px var(--color-lightgray);
}

@keyframes arrow-jump {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}
	50% {
		opacity: 0.8;
		transform: translateY(5px);
	}
	100% {
		opacity: 0;
		transform: translateY(10px);
	}
}
