header {
	position: relative;
	height: 100vh;
}

header nav {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 60px;
	width: 100%;
	margin: 32px 0;

	z-index: 1;
}

header nav .logo {
	color: var(--color-secondary);
}
